{% extends 'finanzas_app/base/index.html' %} 
{% load static %} 



{% block content %}
    <div class="container mt-4">
        <h1 class="mt-4">Mis egresos</h1>
        <div class="container">
            <a class="btn btn-primary" href="{% url 'egreso_crear' %}">Nuevo</a>    
        </div>      

        <form class="mt-4" method="get">
            <div class="row">
                <div class="col">
                    <input type="number" step="any" class="form-control" placeholder="Buscar ingreso mayor a..." name="montoMin"  value="{{ request.GET.q }}">
                </div>
                <div class="col">
                    <button class="btn btn-warning" type="submit">Buscar</button>
                </div>
            </div>
        </form>  
        
        <div class="row mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Forma de pago</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Editar|Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for egreso in egreso_list %}
                        <tr>
                            <td>{{ egreso.fecha }}</td>
                            <td>${{ egreso.monto }}</td>
                            <td>{{ egreso.formaDePago }}</td>
                            <td>{{ egreso.descripcion }}</td>
                            <td>
                                <a type="button" class="btn btn-primary btn-sm mx-2" href="{% url 'egreso_editar' egreso.id %}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a type="button" class="btn btn-danger btn-sm mx-2" href="{% url 'egreso_eliminar' egreso.id %}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
              </table>
        </div>
    </div>
{% endblock content %}
