<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Apellido</h5>
        
        <form action="{% url 'perfil' %}" method="POST">
            {% csrf_token %}
            
            {% if form.apellidoEditar.value %}
                <div class="row g-0">
                    <div class="col">
                        {{ form.apellido }}
                    </div>
                    <div class="col-auto">
                        {{ form.apellidoEditar }}
                    </div>
                </div>
            {% else %}
                <div class="row g-0">
                    <div class="col">
                        <fieldset disabled>
                            <!-- Place your form controls here -->
                            <input type="text" class="form-control" placeholder="{{ perfilUsuario.apellido }}">
                        </fieldset>
                    </div>
                    <div class="col-auto">
                        {{ form.apellidoEditar }}
                    </div>
                </div>
            {% endif %}
        </form>                 
    </div>
</div>