
{% extends 'finanzas_app/base/index.html' %} 
{% load static %} 

{% block content %}


    <div class="container mt-4">
        <h1 class="mt-4">Proveedores de pago</h1>
        <div class="container">
            {% if user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'proveedor_de_pagos_crear' %}">Nuevo</a>  
            {% endif %}  
        </div>           
        <div class="row">
            {% for prov in proveedorpagos_list%}
                <div class="col-md-4 mb-4">

                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-start">
                            <h3 class="card-title text-primary">{{ prov.nombre }}</h3>
                            <li class="list-group-item d-flex justify-content-between">
                                {% if user.is_superuser %}
                                    <a type="button" class="btn btn-primary btn-sm mx-2" href="{% url 'proveedor_de_pagos_editar' prov.id %}">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a type="button" class="btn btn-danger btn-sm mx-2" href="{% url 'proveedor_de_pagos_eliminar' prov.id %}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                {% endif %}  
                            </li>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Tipo</span>
                                <span>{{ prov.get_tipo_display }}</span>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Página web</span>
                                <span>{{ prov.paginaWeb }}</span>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Teléfono atención al cliente</span>
                                <span>{{ prov.telefonoServicioAlCliente }}</span>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>País origen</span>
                                <span>{{ prov.pais }}</span>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Acepta crédito?</span>
                                <span>
                                    {% if prov.aceptaCredito %}
                                        <i class="fa-solid fa-circle"></i>
                                    {% else %}
                                        <i class="fa-regular fa-circle"></i>
                                    {% endif %}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}
