{% extends 'finanzas_app/base/index.html' %} 
{% load static %} 

{% block content %}
    <div class="container">
        <div class="col-md-8">
            <div class="row mt-4 align-items-center">
                <div class="col mt-4">
                    <h1>Iván Carello</h1>
                </div>
                <div class="col mt-4">
                    <img class="rounded-circle shadow-4-strong" src="/media/Iván Carello.jpeg" style="width: 250px; height: 250px; object-fit: cover;"/>
                </div>
            </div>
            <div class="row mt-4">
                Hola! Soy Iván Carello. Soy estudiante avanzado de Ingeniería Electrónica en la Facultad de Ciencias Exactas, Ingeniería y Agrimensura, de la Universidad Nacional de Rosario.
            </div>
            <div class="row mt-4">
                Descubrí mi pasión por la programación tan pronto como tuve contacto con ella, durante el primer año de cursado de la carrera. Desde entonces, tuve varias experiencias
                programando, pero desde finales del 2023 tomé la decisión de buscar dedicarme al desarrollo de software. Si bien tuve la oportunidad de usar Python en la carrera, fue de
                forma muy esporádica por lo que no conocía casi el lenguaje. Y definitivamente fue mi primer roce con el desarrollo de aplicaciones web, aunque espero que no el último, pues
                descubrí un gran interés por esté campo del desarrollo. 
            </div>
            <div class="row mt-4">
                Actualmente me desempeño como Software and Data Engineer para una startup estadounidense, puesto que representó un gran logro para mi, y además estoy desarrollando mi 
                proyecto final de Ingeniería Electrónica basado en sistemas embebidos.
            </div>
            <div class="row mt-4">
                Datos de contacto:
                <br>
                Email: ivan-carello@hotmail.com
                <br>
                Número teléfono: 3416984475
                <br>
                <a href="https://www.linkedin.com/in/ivan-carello/">LinkedIn</a>
            </div>
        </div>
    </div>
{% endblock content %}
