
{% extends 'finanzas_app/base/authentication.html' %} 
{% load static %}

{% block page_title %}
Cambiar contraseña
{% endblock page_title %}

{% block title %}
    Cambiar contraseña
{% endblock title %}

{% block warning_box %}
    {% if form.old_password.errors %}
        {% for error in form.old_password.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}

    {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}

    {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
    
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endblock warning_box %}

{% block auth_form %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating mb-3">
            {{ field }}
            <label for="{{ field.name }}">{{ field.label }}</label>
        </div>
        {% endfor %}
{% endblock auth_form %}


{% block input_box_footer %}
        <div class="card-footer text-center py-3">
            <a class="btn btn-secondary" href="{% url 'perfil' %}">Cancelar</a>
            <button type="submit" class="btn btn-primary">Cambiar</button>
        </div>
    </form>
{% endblock input_box_footer %}