
{% extends 'finanzas_app/base/authentication.html' %} 
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block auth_form %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
        <label for="userName">Email addressSSSS</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" id="inputPassword" type="password" placeholder="Password" />
        <label for="userPassword">Password</label>
    </div>
    <input type="submit" value="Enviar"> 
    
</form>
{% endblock auth_form %}

<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
    <a class="small" href="password.html">Forgot Password?</a>
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
</div>